* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {

  scroll-behavior: smooth;
  overflow-x: hidden;

}

body {

  background: #FFF4EE;

  color: #303030;

  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  overflow-y: auto;

}



/* ---------------- LEFT SIDE ---------------- */

.left-panel {

  position: fixed;

  left: 0;

  top: 0;

  width: 42vw;

  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

}



.profile-photo {

  width: 221px;

  height: 338px;

  max-width: 65vw;

  object-fit: cover;

  border-radius: 50%;

  border: 2px solid #D45A4D;

  box-shadow: 0 15px 35px rgba(0, 0, 0, .08);

}



/* ---------------- RIGHT SIDE ---------------- */

.right-panel {

  margin-left: 42vw;

  width: 58vw;

  min-height: 100vh;

  padding: 90px 90px 120px;

}



/* ---------------- INTRO ---------------- */

.hero {

  max-width: 650px;

}

.hero h1 {

  font-size: 36px;

  font-weight: 600;

  line-height: 1.4;

  margin-bottom: 32px;

}

.hero h1 span {

  color: #D45A4D;

}

.hero p {

  font-size: 18px;

  line-height: 1.9;

  color: #5d5d5d;

  margin-bottom: 22px;

}



/* ---------------- NAVIGATION ---------------- */

.navigation {

  margin-top: 60px;

  display: flex;

  flex-direction: column;

  gap: 18px;

}



.navigation a {

  width: max-content;

  text-decoration: none;

  color: #303030;

  font-size: 19px;

  font-weight: 500;

  transition: .25s;

}



.navigation a:hover {

  color: #D45A4D;

  transform: translateX(8px);

}



/* ---------------- MOBILE ---------------- */

@media(max-width:900px) {

  .left-panel {

    position: relative;

    width: 100%;

    height: auto;

    padding: 60px 0 20px;

  }

  .profile-photo {

    width: 221px;

    height: 338px;

  }

  .right-panel {

    width: 100%;

    margin: 0;

    padding: 40px 30px 70px;

  }

  .hero h1 {

    font-size: 30px;

  }

  .hero p {

    font-size: 17px;

  }

  .navigation a {

    font-size: 18px;

  }

}